/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* ---------------------------------------------------- */

/* -------- 三個網頁共用的 css -------- */
*,*:after,*:before{
	box-sizing: border-box;
}

body{
	font-family: Verdana;
}

a{
	text-decoration: none;
}

.wrap{
	width: 1024px;
	margin: 0 auto;
}

.header,
.footer{
	padding: 0px 42px;
}

/* header 網頁表頭區域 */

.header{
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: rgb(74, 74, 74,0.5);

	position: fixed;
	z-index: 10;
	width: 1024px;
}

.header h1 a{
	width: 182px;
	height: 36px;
	background: url("https://raw.githubusercontent.com/hexschool/HTMLHWSource/master/mutiplePage/logo.png");
	
	display: block;
	text-indent: 101%;
	overflow: hidden;
	white-space: nowrap;
}

.nav{
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 22px;
}

.nav a{
	display: block;

	font-size: 15px;
	line-height: 1.5;
	color: white;
	padding: 32px 15px 14px 15px;
	border-bottom: 7px solid transparent;
}

.nav a:hover,
.nav .now a{
	color: #00CC99;
	border-bottom: 7px solid #00CC99;
}

/* banner 網頁中間圖片區域 */
.banner{
	display: flex;
	flex-direction: column;
	justify-content: center;

	line-height: 1.2;
	height: 560px;
}

.banner h2{
	font-size: 48px;
}

.banner p{
	font-size: 24px;
	color: #00CC99;
}

.banner a,
.course_submit a{
	display: block;

	background-color: #00CC99;
	color: white;
	width: 226px;
	font-size: 20px;
	border-radius: 5px;
	padding: 17px 39px;
}

.banner a:hover,
.course_submit a:hover{
	background-color: #63baa5;
}

.banner a span:first-child,
.course_submit a span:first-child{
	margin-right: 24px;
}

/* content 網頁中文主內文區域 */
.content{
	display: flex;
	flex-direction: column;
	justify-content: center;
	gap: 60px;
	
	padding: 60px 0px;
}

/* content 網頁中文主內文標題 */
.content .item{
	display: flex;
	justify-content: space-between;
	align-items: center;

	margin-bottom: 32px;
}

.content .title{
	display: flex;
	align-items: flex-end;
	gap: 14px;

	line-height: 1.2;
}

.content .title h2{
	font-weight: bold;
	font-size: 36px;
	color: #00CC99;
}

.content .title p{
	font-size: 20px;
	color: #9B9B9B;
}

/* submit 網頁表單區域 */
.submit{
	background-color: #EBEBEB;

	padding: 0px 48px;
	line-height: 1.2;
}

.submit h2{
	font-size: 30px;
	line-height: 2;
}

.submit form input[type="text"]{
	width: 460px;
	padding: 16px 20px;
	border-radius: 5px;

	border: 1px solid transparent;
	font-size: 20px;
}

.submit form input[type="submit"]{
	width: 140px;
	padding: 17px 40px;
	border-radius: 5px;
	cursor: pointer;

	font-size: 20px;
	color: white;
	border: 1px solid transparent;
	background-color: #00CC99;
}

.submit form input[type="submit"]:hover{
	background-color: #63baa5;
}

/* footer 網頁表尾區域 */
.footer{
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: #323228;
}

.footer_img{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-end;
	gap: 8px;

	color: #9B9B9B;
}

.footer ul{
	display: flex;
	align-items: center;
	gap: 22px;

	padding: 50px 0px;
}

/* -------- index 的 css -------- */

/* index banner */
.index_banner{
	gap: 44px;

	background: url("https://raw.githubusercontent.com/hexschool/HTMLHWSource/master/mutiplePage/bg_index.png");
	padding-left: 37px;
}

.index_banner h2{
	color: #00CC99;
}

.index_banner h2 span{
	color: white;
}

/* index content */
.index_content{
	padding-left: 42px;
	padding-right: 42px;
}

/* index content 標題 */
.index_content .item a{
	display: block;

	line-height: 1.5;
	color: #00CC99;
	padding: 5px 12px;

	border: 1px solid #00CC99;
	border-radius: 5px;
}

.index_content .item a:hover{
	opacity: 0.7;
}

/* class_content 課程項目 */
.index_content .class_content ul{
	display: flex;
	justify-content: space-between;
	gap: 20px;
}

.index_content .class_content li{
	width: 300px;
	box-shadow: 0 3px 5px rgb(0, 0, 0, 0.3);
	text-align: center;

	padding: 28px 22px;
}

.index_content .class_content h3{
	font-size: 20px;
	line-height: 1.2;
	font-weight: bold;
	color: #4A4A4A;

	margin: 14px 0 17px 0;
}

.index_content .class_content p{
	line-height: 1.5;
	color: #9B9B9B;
}

/* table_content 課程優劣分析 */
.index_content .table_content table{
	font-weight: bold;
	color: #323223;
	text-align: center;
	line-height: 1.5;

	width: 100%;
}

.index_content .table_content tr{
	border-bottom:1px solid #EBEBEB;
}

.index_content .table_content th{
	background-color: #EBEBEB;
	padding: 16px 0px;
}

.index_content .table_content td{
	padding: 14px 0px;
}

.index_content .table_content .advantage{
	color: #00CC99;
}

/* index_submit 表單區域 */
.index_submit{
	display: flex;
	justify-content: space-between;

	padding-top: 141px;
	padding-bottom: 46px;
}

.index_submit form{
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	gap: 20px;
}

/* -------- course 的 css -------- */

/* course banner */
.course_banner{
	gap: 60px;

	background: url("https://raw.githubusercontent.com/hexschool/HTMLHWSource/master/mutiplePage/bg_course.png");
	padding-left: 37px;

	position: relative;
}

.course_img{
	position: absolute;
	top:115px;
	right: 60px;
}

.course_banner_item h2{
	color: white;
	margin-bottom: 18px;
}

/* course content */
.course_content{
	padding-left: 202px;
	padding-right: 202px;
}

/* teacher 授課老師基本資訊 */
.teacher{
	display: flex;
	align-items: flex-end;
	gap: 36px;
}

.teacher .teacher_img{
	display: flex;
	align-items: center;
	gap: 36px;
}

.teacher_img h2{
	font-size: 36px;
	color: #00CC99;

	line-height: 1.2;
}

.teacher_img span{
	display: block;
	color: black;
	margin-top: 15px;
}

.teacher ul{
	line-height: 2.3;
	list-style: inside;
}

/* course_adv 課程優點說明 */
.course_adv ol{
	list-style: decimal;
	line-height: 1.5;

	padding-left: 16px;
}

/* course 課程清單說明 */
.course table{
	width: 100%;
	text-align: left;

	line-height: 1.5;
}

.course table th,
.course table td{
	padding: 18px 38px;
}

.course table th,
.course table tr:nth-child(odd){
	color: black;
	background-color: #EBEBEB;
}

.course table tr:nth-child(even){
	color: #9B9B9B;
}

/* course_submit 表單區域 */
.course_submit{
	display: flex;
	justify-content: center;
	align-items: flex-end;
	gap: 34px;

	padding-top: 152px;
	padding-bottom: 152px;
}

/* -------- FAQ 的 css -------- */

/* FAQ banner */
.FAQ_banner{
	align-items: center;
	gap: 45px;

	text-align: center;
	background: url("https://raw.githubusercontent.com/hexschool/HTMLHWSource/master/mutiplePage/bg_QA.png");
}

.FAQ_banner_item h2{
	color: white;
	margin-bottom: 16px;
}

.FAQ_banner form{
	position: relative;
}

.FAQ_banner .FAQ_txtbox{
	width: 620px;
	padding: 12px;
	border-radius: 5px;

}

.FAQ_banner .FAQ_btn{
	border: none;
	cursor: pointer;

	width: 20px;
	height: 20px;
	background: url("https://raw.githubusercontent.com/hexschool/HTMLHWSource/master/mutiplePage/search.png");
	background-size: cover;
	background-repeat: no-repeat;

	position: absolute;
	top: 12px;
	right: 12px;
}

/* FAQ content */
.FAQ_content{
	padding-left: 122px;
	padding-right: 122px;

	line-height: 1.5;
}

.FAQ_content a{
	color: #00CC99;
}

.FAQ_content a:hover{
	opacity: 0.7;
}

.FAQ .QA,
.payment .QA,
.refund .QA{
	display: flex;
	flex-direction: column;

	gap: 32px;
}

.FAQ h3,
.payment h3,
.refund h3{
	font-size: 20px;
	color: #323223;
	font-weight: bold;

	margin-bottom: 8px;
}

.FAQ p,
.payment p,
.refund p{
	color: #9B9B9B;
}

.payment .QA ol{
	color: #9B9B9B;
	list-style: decimal;

	padding-left: 32px;
}

.refund .QA li ul{
	color: #9B9B9B;
	list-style: disc;

	padding-left: 32px;
}

.refund .refund_note p{
	font-weight: bold;
	color: #323228;

	margin-bottom: 12px;
}

/* FAQ_submit 表單區域 */
.FAQ_submit{
	display: flex;
	justify-content: space-between;

	padding-top: 120px;
	padding-bottom: 39px;
}

.FAQ_submit form{
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	gap: 20px;
}

.FAQ_submit textarea{
	width: 460px;
	height: 202px;
	padding: 16px 20px;
	border-radius: 5px;

	font-size: 20px;
	border: 1px solid transparent;

	resize: none;
}
